<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="../controllers/index.js" defer></script>
</head>
<body>
<div class="container-fluid" id="main-container">


        <div class="row">
            <div class="conteiner-fluid">
        <div class="col-sm-7 col-sm-offset-1">
            <div class="media">
                <div class="media-left">
                    <img src="resource/hello-page.jpg" class="media-object img-rounded" style="width:260px">
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="media-heading">Folksvagen Golf, 2000 г</h3>
                            <h4>2500 BYN</h4>
                            <h4><small>300$</small></h4>
                            <h4><small>400 euro</small></h4>
                        </div>
                        <div class="col-sm-6">
                            <table class="table" id="table2">
                                <tr>
                                    <td>Год выпуска</td>
                                    <td>2000</td>
                                </tr>
                                <tr>
                                    <td>Пробег</td>
                                    <td>30000 км</td>
                                </tr>
                                <tr>
                                    <td>Тип топлива</td>
                                    <td>дизель</td>
                                </tr>
                                <tr>
                                    <td>Трансмиссия</td>
                                    <td>механика</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div><hr/>
        </div>
        </div>
            <div class="col-sm-2 col-sm-offset-1" id="selector">
                <form>
                    <fieldset>
                        <legend>Параметры авто</legend>
                        <div class="form-group">
                            <label for="selectBrend">Марка</label>
                            <select id="selectBrend" class="form-control">
                                <option selected>Не выбрано</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectModel">Модель</label>
                            <select id="selectModel" class="form-control" disabled>
                                <option selected>Не выбрано</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectDateFrom">Год выпуска</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="selectDateFrom" class="form-control">
                                        <option selected>С</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select id="selectDateTo" class="form-control">
                                        <option selected>По</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="selectCostFrom">Цена, BYN</label>
                                </div>
                                <div class="col-sm-3">
                                    <a href="">USD</a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="">EURO</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="selectCostFrom" class="form-control">
                                        <option selected>От</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select id="selectCostTo" class="form-control">
                                        <option selected>До</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="form-control btn btn-success">Автомат</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="form-control btn btn-success">Механика</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectVolumeFrom">Объем двигателя</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="selectVolumeFrom" class="form-control">
                                        <option selected>От</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select id="selectVolumeTo" class="form-control">
                                        <option selected>До</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="form-control btn btn-success">Бензин</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="form-control btn btn-success">Дизель</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="form-control btn btn-success">Электро</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="form-control btn btn-primary">Применить фильтр</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>



</div>
</body>
</html>