<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#main">Infocar</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a id="main" href="#main">Главная</a></li>
                <li><a id="posts" href="#">Мои обзоры</a></li>
                <li><a id="add" href="#">Добавить обзор</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logOut" href="#"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>