<div class="container-fluid" id="main-container">
    <div class="container-fluid">
        <form class="form-inline">
            <div class="input-group col-sm-1 col-sm-offset-2">
                <label class="center" for="search"><h1>Search: </h1></label>
            </div>
            <div class="input-group col-sm-6">
                <input id="search" type="text" class="form-control input-lg" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
            </div>
            <div class="input-group col-sm-1 col-sm-offset-1">
                <button class="btn btn-lg btn-primary">Добавить</button>
            </div>
        </form>
    </div>

<div class="conteiner">
<table class="table table-bordered" id="admin-table">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год выпуска</th>
        <th>Пробег</th>
        <th>Стоимость</th>
        <th>Объем</th>
        <th>Тип топлива</th>
        <th>Трансмиссия</th>
        <th>Редактирование</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="180px"><img src=<%= mas[i]['photo'] %> class="img-responsive" alt="car" width="150px"></td>
        <td><%= mas[i]['brand']</td>
        <td><%= mas[i]['model']</td>
        <td><%= mas[i]['year']</td>
        <td><%= mas[i]['mileage']</td>
        <td><%= mas[i]['cost']</td>
        <td><%= mas[i]['volume']</td>
        <td><%= mas[i]['typeOfFuel']</td>
        <td><%= mas[i]['transmission']</td>
        <td></td>
    </tr>
    </tbody>
</table>
</div>

    <div id="control-buttons" style="display: none">
        <button class="btn btn-primary">Изменить</button><br/><br/>
        <button class="btn btn-primary">Удалить</button>
    </div>
